<%- include ('./partials/header') %>
<h1 style="width: 33%; margin:0 auto; text-align: center; margin-top: 15px;">Add New Picture!</h1>
<form style="width: 33%; margin:0 auto; text-align: center; " action="/addnewpic" method="POST">
    <input style="margin-top: 15px;" type="text" name="image" placeholder="image">
<textarea style="margin-top: 15px;" name="description"  cols="30" rows="10" placeholder="DESCRIPTION"></textarea> 
   <input style="margin-top: 15px;" type="submit" value="submit">
</form>

