<%- include ('./partials/header') %>
<h1 style="width: 33%; margin:0 auto; text-align: center; margin-top: 15px;">Login!</h1>
<form  style="width: 33%; margin:0 auto; text-align: center; " action="/login" method="POST">
    <input  style="margin-top: 15px;" type="text" name="username" placeholder="username">
    <input  style="margin-top: 15px;" type="password" name="password" placeholder="password">
    <input  style="margin-top: 15px;"type="submit" value="Login!">
</form>

