<%- include ('./partials/header') %>
 

	

		<!-- One -->
			<section id="one" class="wrapper font" >
				<div class="inner">
					
						<div style="font-size: 30px;">
                            <a href="/addnewpic" style="text-align: right; justify-content: space-between;">
                                <h1 style="text-align: center;">اضافة صور للمعرض</h1>

                        </a>
						</div>
					
					
					
				</div>
			</section>

		
	




