<%- include ('./partials/header') %>
 

		<!-- Banner -->
			<section id="banner">
				<div class="content">
					<h1><img src="/assets/images/afaqafteredit.png" alt="اَفاق" width="240px" height="200px"></h1>
					<h2 style="color:#EE4F6F;">اَفاق الريادة للتنمية والتدريب<br />AFAQ ALREADAH FOR DEVELOPMENT AND TRAINING.</h2>
					<ul class="actions">
						<li><a href="#one" class="button scrolly">Get Started</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper font" >
				<div class="inner">
					
						<div style="font-size: 30px;">
							<h1 style="text-align: center;">من نحن</h1>
							<p style="text-align: right; justify-content: space-between;">
								مركز آفاق الريادة للتنمية والتدريب تأسس عام 2017 كـمنظمة غير ربحية ذات نفع عام
								 ويعمل المركز على زيادة الوعي في مجال حقوق المرأة وتمكين وتشغيل وتدريب الشباب
								  والمساواة بين  الجنسين وتعزيز مفهوم الديمقراطية والحاكمية الرشيدة ونشر ثقافة الحوار ،
								   بالإضافة إلى تعزيز دور مؤسسات المجتمع المدني في خدمة المجتمع</p>
						</div>
					
					
					
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style1 special font" >
				<div class="inner">
					<div style="font-size: 30px;">
						<h1 style="text-align: center;" >الرؤية</h1>
						<p style="text-align: right; justify-content: space-between;">
							تنشئة جيل قادر على الارتقاء والانتماء الحقيقي وترتكز على زرع حب الوطن لدى الاجيال
							 لاستكمال بناء مجتمع العدالة والمساواة وسيادة القانون وحماية الحريات
							  والعمل على الارتقاء بالمجتمع اجتماعيا واقتصاديا وثقافيا</p>
					</div>
				</div>
			</section>
<!-- One -->
<section id="one" class="wrapper font" >
	<div class="inner " >
		
			<div style="font-size: 30px;">
				<h1 style="text-align: center;">الرسالة</h1>
				<p style="text-align: right;">
					الوصول الى شباب واع ومدرك لرؤية شاملة في الاصلاح  والتنمية المستدامة 
					والعمل مع كافة القطاعات لتمكين وبناء قدرات مؤسسات المجتمع المدني وقطاع الشباب والمرأة
					 لإحداث التنمية  الشاملة  والتغيير الايجابي في المجتمعات
					  والعمل على ترسيخ مبادئ المشاركة الفاعلة والديمقراطية واحترام حقوق الإنسان ،
					 لبناء مجتمع متماسك يسوده الامن والسلام والحوار</p>
			</div>
		
		
		
	</div>
</section>
<!-- Two -->
<section id="two" class="wrapper style1 special font" >
	<div class="inner">
		<div style="font-size: 30px;">
			<h1 style="text-align: center;">المجالات</h1>
			<p style="text-align: right; justify-content: space-between;">
				يعمل مركز أفاق في المجالات التالية:
⦁	التدريب المهني 
⦁	الارشاد المهني 
 التشغيل والربط الوظيفي
⦁	التمكين الاقتصادي للاجئين 
⦁	تمكين وبناء قدرات الشباب
⦁	الحقوق المدنية
⦁	الحقوق الاجتماعية والاقتصادية
⦁	ترسيخ مبادئ الامن والسلام والحوار
</p>
		</div>
	</div>
</section>

<section id="three" class="wrapper">
	<div class="inner flex flex-3">
		<div class="flex-item box">
			<div class="image fit">
				<img src="/assets/images/p1.jpg" alt="" />
			</div>
			
		</div>
		<div class="flex-item box">
			<div class="image fit">
				<img src="/assets/images/afaqafteredit.png" alt="" />
			</div>
			
		</div>
		<div class="flex-item box">
			<div class="image fit">
				<img src="/assets/images/p2.jpg" alt="" />
			</div>
			
		</div>
	</div>
</section>
<div><h3 style="text-align: center; "><a href="/galary" >المزيد</a></h3></div>

		




<%- include ('./partials/footer') %>