		<!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <h2>تواصل معنا</h2>
                <ul class="actions">
                    <li><span class="icon fa-phone"></span> <a href="#">(079) 159-2789</a></li>
                    <li><span class="icon fa-envelope"></span> <a href="#">afaqalriadah2017@gmail.com</a></li>
                    <li><span class="icon fa-map-marker"></span>المفرق - شارع البلدية - مجمع البركة الطابق الثاني</li>
                    <li><span class="icon fa-facebook"></span><a href="https://ar-ar.facebook.com/afaqalriadah2017/">Facebook </a></li> 
                </ul>
            </div>
            <div class="copyright">
                &copy; Bato. Design 
            </div>
        </footer>

    <!-- Scripts -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery.scrolly.min.js"></script>
        <script src="/js/skel.min.js"></script>
        <script src="/js/util.js"></script>
        <script src="/js/main.js"></script>

</body>
</html>